.hero {
    height: 100%;
    width: 100%;
    object-fit: contain;
    align-content: center;
    display: fixed
;
}

.intro {
    width: 50%;
    height: 900px;
    display:fixed;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    align-content: center;
}

.title {
    width: 100%;
    height: auto;
    font-size: 120px;
    text-align: center;
    font-weight: 900;
    padding-bottom: 100px;
    padding-top: 100px;
} 

.subtitle {
    width: 100%;
    height: auto;
    font-size: 50px;
    text-align: center;
    font-weight: 600;
} 

.connect {
    width: 100%;
    height: auto;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    padding-top: 90px;
    padding-bottom: 50px;
}

.button {
    padding: 10px 28px;
    font-size: 1.2rem;
    background-image: linear-gradient(45deg, var(--primary-midnight) 0%, var(--primary-pink) 100%);
    color: #fff;
    border: none;
    border-radius: 50px;
    font-family: 'Syne', sans-serif; 
    display:fixed;
}

@media screen and (max-width: 940px) {
    .videoplayer {
        width: 60vh;
        padding-top: 3em;
        padding-left: 3em;
        height: 50%;
        background-color: transparent;
    }

  }
  @media screen and (max-width: 495px) {
    .videoplayer {
        width: 60vh;
        padding-top: 3em;
        padding-left: 2em;
        height: 50%;
        background-color: transparent;
    }
  }