@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

:root {
  --primary-purple: #18122D;
  --primary-pink: #E748E6;
  --primary-midnight: #21186E;
}

.purple {
  color: var(--primary-purple);
}


body {
  margin: 0;
  font-family: 'Syne', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #18122D;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: #E748E6;
  padding-bottom: 0.3em;
  font-weight: 900;
  font-size: 30px;
}

p {
  color: #fff
}

* {
  box-sizing: border-box;
}


h2 {
  font-size: 3rem;
}

h3 {
  color: #E748E6;
  padding-bottom: 0.3em;
  font-weight: 700;
  font-size: 20px;
}

.btn {
  padding: 10px 28px;
  font-size: 1.2rem;
  background-image: linear-gradient(45deg, var(--primary-midnight) 0%, var(--primary-pink) 100%);
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: 'Syne', sans-serif;
}

.btn-outline {
  background: transparent;
  border: 1px solid var(--primary-pink);
  color: var(--primary-pink);
}

@media screen and (max-width: 940px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 495px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;